.signUpForm{
    background-color: rgb(239, 240, 243);
    padding: 5%;
    width: 40%;
    border-radius: 3px;
    border: 0.5px solid cornflowerblue;
    text-decoration: solid;
}

p{
    text-align: center;
}

.button{
    text-align: center; 
    padding: 10px 80px;
}